Repository zelytra/BetterFleet, pull requests merged in 2024-03, with the labels that each got.

#14 Start backend socket
  backend/pom.xml
  backend/src/main/java/fr/zelytra/PublicEndpoints.java
  backend/src/main/java/fr/zelytra/session/SessionManager.java
  backend/src/main/java/fr/zelytra/session/SessionSocket.java
  backend/src/main/java/fr/zelytra/session/fleet/Fleet.java
  backend/src/main/java/fr/zelytra/session/fleet/Player.java
  backend/src/main/java/fr/zelytra/session/fleet/PlayerStates.java
  backend/src/main/java/fr/zelytra/session/fleet/SessionStatus.java
  backend/src/main/java/fr/zelytra/session/fleet/SotServer.java
  frontend/.env.development
  frontend/.env.production
  frontend/src/App.vue
  frontend/src/components/Fleet.vue
  frontend/src/components/fleet/FleetSessionChoice.vue
  frontend/src/components/global/Header.vue
  frontend/src/objects/Fleet.ts
  frontend/src/objects/stores/Preferences.ts
  frontend/src/objects/stores/UserStore.ts
  frontend/src/vue/templates/FirstLogin.vue
Labels: enhancement, backend

#18 Session button user action
  backend/src/main/java/fr/zelytra/session/SessionManager.java
  backend/src/main/java/fr/zelytra/session/SessionSocket.java
  backend/src/main/java/fr/zelytra/session/fleet/Fleet.java
  backend/src/main/java/fr/zelytra/session/fleet/Player.java
  frontend/src/assets/locales/en.json
  frontend/src/assets/locales/fr.json
  frontend/src/components/fleet/FleetLobby.vue
  frontend/src/components/fleet/FleetSessionChoice.vue
  frontend/src/components/global/Header.vue
  frontend/src/objects/Fleet.ts
Labels: enhancement, frontend, backend, UI/UX

#19 Deploy pipelines
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/node.js.yml
  .github/workflows/pr_node.js.yml
  .github/workflows/pr_quarkus.java.yml
  .github/workflows/quarkus.java.yml
  .github/workflows/release.yml
Labels: enhancement, Industralisation

#21 Server & game status detection
  .github/workflows/ci.yml
  .github/workflows/release.yml
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/src/api.rs
  frontend/src-tauri/src/fetch_informations.rs
  frontend/src-tauri/src/main.rs
Labels: enhancement, backend

#39 Add alert system & Patches
  frontend/package.json
  frontend/src-tauri/tauri.conf.json
  frontend/src/App.vue
  frontend/src/assets/icons/alert-flame.svg
  frontend/src/assets/locales/en.json
  frontend/src/assets/locales/fr.json
  frontend/src/assets/style.scss
  frontend/src/components/Fleet.vue
  frontend/src/components/fleet/FleetLobby.vue
  frontend/src/components/fleet/FleetSessionChoice.vue
  frontend/src/main.ts
  frontend/src/objects/Fleet.ts
  frontend/src/objects/i18n/index.ts
  frontend/src/vue/alert/Alert.ts
  frontend/src/vue/alert/AlertBox.vue
  frontend/src/vue/alert/AlertComponent.vue
  frontend/src/vue/alert/AlertUtils.ts
  frontend/src/vue/templates/FirstLogin.vue
Labels: enhancement, frontend, UI/UX

#45 Refacto socket system
  backend/src/main/java/fr/zelytra/session/SessionSocket.java
  backend/src/main/java/fr/zelytra/session/socket/MessageType.java
  backend/src/main/java/fr/zelytra/session/socket/SocketMessage.java
  frontend/src/components/Fleet.vue
  frontend/src/objects/Fleet.ts
  frontend/src/objects/WebSocet.ts
Labels: enhancement, frontend, backend

#41 Config page
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/tauri.conf.json
  frontend/src/App.vue
  frontend/src/assets/icons/discord.svg
  frontend/src/assets/icons/github.svg
  frontend/src/assets/icons/locales/ca.svg
  frontend/src/assets/icons/locales/de.svg
  frontend/src/assets/icons/locales/en.svg
  frontend/src/assets/icons/locales/fr.svg
  frontend/src/assets/locales/en.json
  frontend/src/assets/locales/fr.json
  frontend/src/assets/style.scss
  frontend/src/components/Config.vue
  frontend/src/objects/Fleet.ts
  frontend/src/objects/stores/UserStore.ts
  frontend/src/vue/alert/Alert.ts
  frontend/src/vue/fleet/PlayerFleet.vue
  frontend/src/vue/form/InputText.vue
  frontend/src/vue/form/Inputs.ts
  frontend/src/vue/form/SelectInput.vue
  frontend/src/vue/form/SingleSelect.vue
  frontend/src/vue/templates/BannerTemplate.vue
Labels: enhancement, frontend

#46 Session game status
  backend/src/main/java/fr/zelytra/session/fleet/PlayerStates.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/locales/en.json
  frontend/src/assets/locales/fr.json
  frontend/src/components/Fleet.vue
  frontend/src/objects/Fleet.ts
  frontend/src/objects/Utils.ts
  frontend/tsconfig.json
Labels: enhancement, frontend, backend

#47 Feature/port listening fix
  frontend/src-tauri/src/api.rs
  frontend/src-tauri/src/fetch_informations.rs
  frontend/src-tauri/src/main.rs
Labels: bug, client-backend

#49 Add auto updater to app
  .github/workflows/ci.yml
  .github/workflows/release.yml
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/tauri.conf.json
  frontend/src/components/global/Header.vue
Labels: enhancement, frontend, Industralisation

#50 Session run research
  backend/pom.xml
  backend/src/main/java/fr/zelytra/session/SessionManager.java
  backend/src/main/java/fr/zelytra/session/SessionSocket.java
  backend/src/main/java/fr/zelytra/session/countdown/SessionCountDown.java
  backend/src/main/java/fr/zelytra/session/socket/MessageType.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/locales/en.json
  frontend/src/assets/locales/fr.json
  frontend/src/components/Fleet.vue
  frontend/src/components/fleet/FleetLobby.vue
  frontend/src/components/fleet/SessionCountdown.vue
  frontend/src/objects/Fleet.ts
  frontend/src/objects/SessionRunner.ts
  frontend/src/objects/WebSocet.ts
Labels: enhancement, frontend, backend

#51 Fix IP fetching
  frontend/src-tauri/src/fetch_informations.rs
Labels: bug, client-backend

#48 Add SotServer user workflow
  .gitignore
  backend/src/main/java/fr/zelytra/PublicEndpoints.java
  backend/src/main/java/fr/zelytra/session/SessionManager.java
  backend/src/main/java/fr/zelytra/session/SessionSocket.java
  backend/src/main/java/fr/zelytra/session/SessionStatus.java
  backend/src/main/java/fr/zelytra/session/fleet/Fleet.java
  backend/src/main/java/fr/zelytra/session/fleet/SotServer.java
  backend/src/main/java/fr/zelytra/session/ip/ProxyCheckAPI.java
  backend/src/main/java/fr/zelytra/session/player/Player.java
  backend/src/main/java/fr/zelytra/session/player/PlayerStates.java
  backend/src/main/java/fr/zelytra/session/server/SotServer.java
  backend/src/main/java/fr/zelytra/session/server/SotServerMessage.java
  backend/src/main/java/fr/zelytra/session/socket/MessageType.java
  backend/src/main/resources/application.properties
  deployment/DEPLOYMENT.md
  frontend/.env.production
  frontend/src/App.vue
  frontend/src/assets/locales/en.json
  frontend/src/assets/locales/fr.json
  frontend/src/components/Fleet.vue
  frontend/src/components/fleet/FleetLobby.vue
  frontend/src/components/fleet/SessionCountdown.vue
  frontend/src/objects/Fleet.ts
  frontend/src/objects/Player.ts
  frontend/src/objects/SotServer.ts
  frontend/src/objects/Utils.ts
  frontend/src/objects/WebSocet.ts
  frontend/src/objects/stores/UserStore.ts
  frontend/src/vue/alert/AlertBox.vue
  frontend/src/vue/fleet/PlayerFleet.vue
  frontend/src/vue/templates/ServerContainer.vue
Labels: enhancement, frontend, backend, client-backend

#23 README.md
  LICENSE
  README.md
  frontend/src/assets/banners/banner.png
Labels: documentation, enhancement

#68 Pipeline execution speed
  .github/workflows/ci.yml
  .github/workflows/release.yml
  deployment/DEPLOYMENT.md
  frontend/src-tauri/Cargo.lock
Labels: enhancement, Industralisation

#69 Session fixtures
  frontend/src/App.vue
  frontend/src/assets/icons/clipboard.svg
  frontend/src/assets/locales/en.json
  frontend/src/assets/locales/fr.json
  frontend/src/components/fleet/FleetLobby.vue
  frontend/src/components/fleet/FleetSessionChoice.vue
  frontend/src/components/fleet/SessionCountdown.vue
  frontend/src/objects/Fleet.ts
Labels: bug, enhancement, frontend, UI/UX

#71 Add Admin permission
  frontend/src-tauri/build.rs
Labels: bug, client-backend

#72 Modify session informations
  backend/src/main/java/fr/zelytra/session/SessionSocket.java
  backend/src/main/java/fr/zelytra/session/fleet/Fleet.java
  backend/src/main/java/fr/zelytra/session/fleet/FleetStats.java
  frontend/src/assets/locales/en.json
  frontend/src/assets/locales/fr.json
  frontend/src/components/fleet/FleetLobby.vue
  frontend/src/objects/Fleet.ts
Labels: enhancement, frontend, backend

#73 Try to fix macro
  frontend/src-tauri/src/main.rs
Labels: bug, client-backend

#74 Timer and backend fixtures
  backend/src/main/java/fr/zelytra/session/SessionManager.java
  backend/src/main/java/fr/zelytra/session/SessionSocket.java
  backend/src/main/java/fr/zelytra/session/countdown/SessionCountDown.java
  backend/src/main/java/fr/zelytra/session/fleet/FleetStats.java
  frontend/src/components/fleet/FleetLobby.vue
  frontend/src/components/fleet/SessionCountdown.vue
  frontend/src/objects/Fleet.ts
  frontend/src/objects/SessionRunner.ts
Labels: bug, frontend, backend

#89 New release
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/tauri.conf.json
Labels: enhancement, Industralisation

#96 Fix focus while doing something or being on another app
  frontend/src-tauri/src/window_interaction.rs
Labels: bug, client-backend

#97 Patch player fake banned from the server
  backend/src/main/java/fr/zelytra/session/SessionSocket.java
Labels: bug, backend

#106 Backend client version & Better error message
  backend/src/main/java/fr/zelytra/session/SessionManager.java
  backend/src/main/java/fr/zelytra/session/SessionSocket.java
  backend/src/main/java/fr/zelytra/session/SessionStatus.java
  backend/src/main/java/fr/zelytra/session/fleet/Fleet.java
  backend/src/main/java/fr/zelytra/session/player/Player.java
  backend/src/main/java/fr/zelytra/session/socket/MessageType.java
  backend/src/main/resources/application.properties
  webapp/src-tauri/Cargo.lock
  webapp/src/assets/locales/en.json
  webapp/src/assets/locales/fr.json
  webapp/src/objects/Fleet.ts
  webapp/src/objects/Player.ts
  webapp/src/objects/WebSocet.ts
  webapp/src/objects/stores/UserStore.ts
  webapp/src/vue/form/InputText.vue
Labels: bug, frontend, backend

#107 Translation update/add
  webapp/src/assets/icons/locales/de.svg
  webapp/src/assets/icons/locales/es.svg
  webapp/src/assets/locales/de.json
  webapp/src/assets/locales/en.json
  webapp/src/assets/locales/es.json
  webapp/src/assets/locales/fr.json
  webapp/src/components/Config.vue
  webapp/src/main.ts
Labels: documentation, enhancement, frontend

#110 Keep Alive & Master fallback
  backend/src/main/java/fr/zelytra/session/SessionManager.java
  backend/src/main/java/fr/zelytra/session/SessionSocket.java
  backend/src/main/java/fr/zelytra/session/socket/MessageType.java
  webapp/src/components/Fleet.vue
  webapp/src/components/fleet/FleetLobby.vue
  webapp/src/objects/Fleet.ts
  webapp/src/objects/WebSocet.ts
  webapp/src/objects/stores/UserStore.ts
Labels: enhancement, backend

#112 Username length & Tooltip
  webapp/src/assets/locales/de.json
  webapp/src/assets/locales/en.json
  webapp/src/assets/locales/es.json
  webapp/src/assets/locales/fr.json
  webapp/src/components/Config.vue
  webapp/src/components/global/Header.vue
  webapp/src/router/index.ts
Labels: bug, frontend

#116 Add sources files Crowdin
  webapp/src/assets/locales/source.json
  website/src/assets/locales/source.json
Labels: bug, documentation, enhancement

#122 Website fixtures & Deployment
  deployment/dev/docker-compose.yml
  deployment/docker-compose.yml
  webapp/.env.development
  webapp/.env.production
  webapp/src/assets/style.scss
  website/.env.development
  website/.env.production
  website/src/assets/backgrounds/card-footer-blue.svg
  website/src/assets/backgrounds/card-footer-gray.svg
  website/src/assets/backgrounds/card-footer-orange.svg
  website/src/assets/backgrounds/card-footer.svg
  website/src/assets/backgrounds/footer-underline.svg
  website/src/assets/backgrounds/footer.svg
  website/src/assets/backgrounds/seperation.svg
  website/src/assets/icons/github.svg
  website/src/assets/locales/source.json
  website/src/assets/style.scss
  website/src/components/Home.vue
  website/src/components/global/FooterVue.vue
  website/src/components/home/AppPresentation.vue
  website/src/components/home/Descriptions.vue
  website/src/components/home/Discover.vue
  website/src/components/home/Download.vue
  website/src/main.ts
  website/src/objects/i18n/index.ts
  website/src/vue/Separator.vue
Labels: UI/UX, Industralisation, website

#117 New Crowdin updates
  webapp/src/assets/locales/de.json
  webapp/src/assets/locales/en.json
  webapp/src/assets/locales/es.json
  webapp/src/assets/locales/fr.json
  website/src/assets/locales/de.json
  website/src/assets/locales/en.json
  website/src/assets/locales/es.json
  website/src/assets/locales/fr.json
Labels: enhancement, Translation

#126 Remove source files
  webapp/.env.development
  webapp/.env.production
  webapp/src/assets/locales/source.json
  website/.env.development
  website/.env.production
  website/src/assets/locales/fr.json
  website/src/assets/locales/source.json
  website/src/main.ts
  website/src/objects/i18n/index.ts
Labels: bug, Translation

#125 New Crowdin updates
  webapp/src/assets/locales/de.json
  webapp/src/assets/locales/en.json
  webapp/src/assets/locales/es.json
  webapp/src/assets/locales/fr.json
  website/src/assets/locales/de.json
  website/src/assets/locales/en.json
  website/src/assets/locales/es.json
  website/src/assets/locales/fr.json
Labels: webapp, Translation, website

#127 Update version number for release
  backend/src/main/resources/application.properties
  webapp/package.json
  webapp/src-tauri/Cargo.lock
  webapp/src-tauri/Cargo.toml
  webapp/src-tauri/tauri.conf.json
  website/package.json
Labels: enhancement, webapp, website

#129 Patch CORS GitHub problem
  backend/pom.xml
  backend/src/main/java/fr/zelytra/github/GithubApi.java
  backend/src/main/java/fr/zelytra/github/GithubRelease.java
  backend/src/main/java/fr/zelytra/github/GithubRest.java
  backend/src/main/java/fr/zelytra/github/TauriRelease.java
  deployment/docker-compose.yml
  website/src/objects/Github.ts
  website/src/objects/HTTPAxios.ts
  website/src/objects/stores/appStore.ts
Labels: bug, backend, website

#133 Fix server port = 30000
  webapp/src-tauri/src/fetch_informations.rs
Labels: client-backend

#144 Webb app fixtures
  webapp/src/App.vue
  webapp/src/assets/locales/fr.json
  webapp/src/components/Config.vue
  webapp/src/components/Fleet.vue
  webapp/src/components/Home.vue
  webapp/src/components/fleet/FleetLobby.vue
  webapp/src/components/fleet/SessionCountdown.vue
  webapp/src/objects/stores/UserStore.ts
  webapp/src/vue/fleet/PlayerFleet.vue
Labels: bug, enhancement, webapp, UI/UX

#143 Add HTTP header for Discord + Twitter rendering
  website/index.html
  website/public/banner.webp
Labels: enhancement, webapp, UI/UX

#145 Colors for session with hash
  webapp/src/components/fleet/FleetLobby.vue
  webapp/src/objects/Color.ts
  webapp/src/vue/templates/ServerContainer.vue
Labels: webapp, UI/UX

#146 New version
  backend/src/main/resources/application.properties
  webapp/package.json
  webapp/src-tauri/Cargo.toml
  webapp/src-tauri/tauri.conf.json
  website/package.json
Labels: enhancement, Industralisation

#157 Create FUNDING.yml
  .github/FUNDING.yml
Labels: enhancement

#153 Testing backend
  .github/workflows/ci.yml
  backend/pom.xml
  backend/src/main/java/fr/zelytra/github/GithubApi.java
  backend/src/main/java/fr/zelytra/github/GithubRelease.java
  backend/src/main/java/fr/zelytra/github/GithubRest.java
  backend/src/main/java/fr/zelytra/github/Platform.java
  backend/src/main/java/fr/zelytra/github/TauriRelease.java
  backend/src/main/java/fr/zelytra/session/SessionManager.java
  backend/src/main/java/fr/zelytra/session/SessionSocket.java
  backend/src/main/java/fr/zelytra/session/fleet/Fleet.java
  backend/src/main/java/fr/zelytra/session/fleet/FleetStats.java
  backend/src/main/java/fr/zelytra/session/ip/ProxyCheckAPI.java
  backend/src/main/java/fr/zelytra/session/server/SotServer.java
  backend/src/main/java/fr/zelytra/session/socket/MessageDecoder.java
  backend/src/main/java/fr/zelytra/session/socket/MessageEncoder.java
  backend/src/main/java/fr/zelytra/session/socket/SocketMessage.java
  backend/src/main/java/fr/zelytra/statistics/StatisticsEntity.java
  backend/src/main/java/fr/zelytra/statistics/StatisticsRepository.java
  backend/src/main/java/fr/zelytra/statistics/StatsEndpoints.java
  backend/src/main/resources/application.properties
  backend/src/test/java/fr/zelytra/PublicEndPointsTest.java
  backend/src/test/java/fr/zelytra/github/GithubApiTest.java
  backend/src/test/java/fr/zelytra/github/GithubReleaseTest.java
  backend/src/test/java/fr/zelytra/github/GithubRestTest.java
  backend/src/test/java/fr/zelytra/github/PlatformTest.java
  backend/src/test/java/fr/zelytra/github/TauriReleaseTest.java
  backend/src/test/java/fr/zelytra/session/SessionManagerTest.java
  backend/src/test/java/fr/zelytra/session/SessionSocketTest.java
  backend/src/test/java/fr/zelytra/session/client/BetterFleetClient.java
  backend/src/test/java/fr/zelytra/session/fleet/FleetStatsTest.java
  backend/src/test/java/fr/zelytra/session/fleet/FleetTest.java
  backend/src/test/java/fr/zelytra/session/ip/ProxyCheckAPITest.java
  backend/src/test/java/fr/zelytra/statistics/StatisticsEntityTest.java
  backend/src/test/java/fr/zelytra/statistics/StatisticsRepositoryTest.java
  backend/src/test/java/fr/zelytra/statistics/StatsEndpointsTest.java
Labels: enhancement, backend

#173 Webapp visual fixtures
  backend/src/main/java/fr/zelytra/session/SessionSocket.java
  backend/src/main/java/fr/zelytra/session/player/Player.java
  backend/src/main/java/fr/zelytra/session/player/PlayerDevice.java
  backend/src/test/java/fr/zelytra/session/SessionSocketTest.java
  webapp/src/App.vue
  webapp/src/assets/icons/microsoft.svg
  webapp/src/assets/icons/playstation.svg
  webapp/src/assets/icons/xbox.svg
  webapp/src/assets/locales/fr.json
  webapp/src/components/Config.vue
  webapp/src/components/fleet/FleetLobby.vue
  webapp/src/components/fleet/FleetSessionChoice.vue
  webapp/src/objects/Fleet.ts
  webapp/src/objects/Player.ts
  webapp/src/objects/stores/UserStore.ts
  webapp/src/vue/fleet/PlayerFleet.vue
  webapp/src/vue/form/ConfirmationModal.vue
  webapp/src/vue/form/SingleSelect.vue
  webapp/src/vue/templates/ModalTemplate.vue
  webapp/src/vue/templates/ModaleTemplate.vue
Labels: enhancement, webapp, UI/UX

#176 Save bar system
  backend/src/main/java/fr/zelytra/session/server/SotServer.java
  webapp/src/App.vue
  webapp/src/assets/locales/fr.json
  webapp/src/components/Config.vue
  webapp/src/components/fleet/FleetLobby.vue
  webapp/src/objects/Color.ts
  webapp/src/objects/SotServer.ts
  webapp/src/vue/form/ConfirmationModal.vue
  webapp/src/vue/templates/ServerContainer.vue
  webapp/src/vue/utils/SaveBar.vue
Labels: enhancement, webapp, UI/UX

#175 Website lang detection
  website/src/main.ts
  website/src/objects/stores/appStore.ts
Labels: enhancement, website

#174 New Crowdin updates
  webapp/src/assets/locales/de.json
  webapp/src/assets/locales/en.json
  webapp/src/assets/locales/es.json
  webapp/src/assets/locales/fr.json
Labels: enhancement, Translation

#178 Release new version
  backend/src/main/resources/application.properties
  webapp/package.json
  webapp/src-tauri/Cargo.toml
  webapp/src-tauri/tauri.conf.json
  website/package.json
Labels: enhancement, Industralisation

#188 Use mouse for the macro
  webapp/src-tauri/src/main.rs
  webapp/src-tauri/src/window_interaction.rs
  webapp/src/components/fleet/SessionCountdown.vue
Labels: bug, webapp, client-backend

#202 Update README.md
  README.md
Labels: documentation, enhancement

#201 Config page visual refacto & Fixes
  webapp/src/assets/backgrounds/underline.svg
  webapp/src/assets/locales/fr.json
  webapp/src/components/Config.vue
  webapp/src/vue/templates/ParameterPart.vue
  webapp/src/vue/utils/SaveBar.vue
Labels: enhancement, webapp, UI/UX

#203 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation, enhancement
