Repository zelytra/BetterFleet, pull requests merged in 2024-05, with the labels that each got.

#274 Remove home page
  webapp/src/assets/locales/fr.json
  webapp/src/components/Authentication.vue
  webapp/src/components/fleet/Home.vue
  webapp/src/components/global/Header.vue
  webapp/src/router/index.ts
Labels: enhancement, webapp, UI/UX

#267 New Crowdin updates
  webapp/src/assets/locales/de.json
  webapp/src/assets/locales/en.json
  webapp/src/assets/locales/es.json
  webapp/src/assets/locales/fr.json
  website/src/assets/locales/de.json
  website/src/assets/locales/en.json
  website/src/assets/locales/es.json
  website/src/assets/locales/fr.json
Labels: documentation, enhancement, webapp, website

#281 New release
  backend/src/main/resources/application.properties
  webapp/package.json
  webapp/src-tauri/Cargo.toml
  webapp/src-tauri/tauri.conf.json
  website/package.json
Labels: enhancement, webapp, website

#288 Fix non-ascii chars in PC hostname
  webapp/src-tauri/Cargo.toml
  webapp/src-tauri/src/fetch_informations.rs
  webapp/src/assets/contributors/contributors.json
Labels: bug, webapp, client-backend

#290 New release
  backend/src/main/resources/application.properties
  webapp/package.json
  webapp/src-tauri/Cargo.lock
  webapp/src-tauri/Cargo.toml
  webapp/src-tauri/tauri.conf.json
  website/package.json
Labels: enhancement, Industralisation

#284 Reports system
  backend/src/main/java/fr/zelytra/reports/ReportEndpoints.java
  backend/src/main/java/fr/zelytra/reports/ReportEntity.java
  deployment/dev/docker-compose.yml
  deployment/docker-compose.yml
  webapp/package-lock.json
  webapp/package.json
  webapp/src-tauri/Cargo.lock
  webapp/src-tauri/Cargo.toml
  webapp/src-tauri/src/fetch_informations.rs
  webapp/src-tauri/src/main.rs
  webapp/src/assets/icons/question.svg
  webapp/src/assets/locales/fr.json
  webapp/src/components/fleet/Config.vue
  webapp/src/components/fleet/Reports.vue
  webapp/src/components/global/Header.vue
  webapp/src/objects/fleet/Fleet.ts
  webapp/src/objects/report/Report.ts
  webapp/src/objects/stores/UserStore.ts
  webapp/src/objects/utils/HTTPAxios.ts
  webapp/src/router/index.ts
  webapp/src/vue/templates/ParameterPart.vue
  website/Dockerfile
  website/src/assets/font.scss
  website/src/assets/fonts/JetBrainsMono.ttf
  website/src/components/Reports.vue
  website/src/components/Support.vue
  website/src/components/global/HeaderVue.vue
  website/src/objects/BugReport.ts
  website/src/router/index.ts
  website/src/vue/FaqCollapse.vue
Labels: enhancement, webapp, website
