Repository zelytra/BetterFleet, pull requests merged in 2025-03, with the labels that each got.

#391 Problem of SOT server caching system
  backend/src/main/java/fr/zelytra/session/SessionManager.java
  backend/src/main/java/fr/zelytra/session/server/SotServer.java
  backend/src/test/java/fr/zelytra/session/SessionManagerTest.java
  deployment/docker-compose.yml
Labels: bug

#394 Client side logs update
  webapp/src-tauri/src/main.rs
  webapp/src/objects/fleet/Fleet.ts
Labels: bug, webapp, client-backend

#396 Fix gray bar on website in certains conditions
  website/src/components/global/HeaderVue.vue
Labels: bug, website

#397 Handle possible unknown field in json from proxy checker
  backend/src/main/java/fr/zelytra/session/ip/ProxyCheckAPI.java
Labels: bug, backend

#399 Fix server detection with multiple sockets
  README.md
  webapp/src-tauri/src/api.rs
  webapp/src-tauri/src/fetch_informations.rs
  webapp/src-tauri/src/main.rs
Labels: bug, client-backend

#401 Fix server status updater
  backend/src/main/java/fr/zelytra/session/SessionManager.java
  deployment/dev/docker-compose.yml
  webapp/src/components/FleetMenuNavigator.vue
Labels: bug, webapp

#416 Trying to fix crowdin setup
  crowdin.yml
  webapp/src/assets/locales/source.json
  webapp/src/main.ts
  webapp/src/objects/i18n/index.ts
  website/src/assets/locales/source.json
  website/src/main.ts
  website/src/objects/i18n/index.ts
  website/src/router/index.ts
Labels: bug, documentation, webapp, website
